---
layout: default
title: About Vincent Chan
---
<article class="postWrapper">
  <section class="section--first section--about is-darkBackgrounded u-table">
    <div class="section-backgroundImage">
        <img class="post-featuredImage" src="{{site.baseurl}}assets/images/hero/vincent.jpg" style="" alt="">
    </div>
    <div class="section-gradient"></div>
    <div class="section-title is-darkBackgrounded u-tableCell u-verticalAlignMiddle">
      <div class="container">
        <h2>Cesar Gozurreta</h2>
        <div class="postMeta-wrapper">
          <ul class="postMeta">
            <li class="postMeta-author">
              a lifelong learner
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <section class="section--last">
    <div class="container container--content">
      <div class="content-body">
        <h4>About</h4>
        <p>I'm a former English teacher turned web developer and actor</p>
        <h4>Motto</h4>
        <p class="u--startsWithDoubleQuote">“Confort is the worst enemy of progress”</p>
        <h4>Goals (short term)</h4>
        <ul>
          <li>Become a fully fledged project manager</li>
          <li>Start a family with my future wife</li>
          <li>Move to a less hecktick place</li>
          <li>Learn more tech and languages</li>
          <li>Become a better actor</li>
        </ul>
        <h4>Dreams (long term)</h4>
        <ul>
          <li>Buy a house and build a tiny fish farm business</li>
          <li>Try to make my real life as close to what exists in my mind</li>
        </ul>
        <h4>Role Models</h4>
        <p>
          Walt Disney, Bill Gates, Nicola Tesla, Shigeru Miyamoto, Satoru Iwata.
        </p>
        <h4>Favorite Companies</h4>
        <p>
          Disney, Pixar, From Software, CD Projekt Red.
        </p>
        <h4>Favorite Startups</h4>
        <p>
          GitHub, Evernote, Coderbunker.
        </p>
        <h4>Favorite Brands</h4>
        <p>
          Xiaomi, MSI, Topper.
        </p>
      </div>
    </div>
  </section>
</article>
<hr/>
{% include subscribe.html %}
{% include footer.html %}
